.banner{
    background-image: url("../../../assets/taskBanner.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}